
body {
    background-color: rgb(247, 178, 205);
}

div1 {
    border-width: 0.5px;
    border-style: solid;
    border-color: pink;
    width: 1000px;
    height: 100px; 
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(250, 218, 221);
    color:rgb(175, 161, 243);
    }

body {
    background-color: rgb(247, 178, 205);
    background-image: url("https://github.com/user-attachments/assets/76e00e52-1e18-4d70-8d37-271bf8de904d");
    background-size: cover;
    background-repeat: no-repeat;

}
