
body {
    background-color: rgb(247, 178, 205);
}

div1 {
    border-width: 0.5px;
    border-style: solid;
    border-color: pink;
    width: 1000px;
    height: 100px; 
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(250, 218, 221);
    color:rgb(175, 161, 243);
    }

