
body {
    background-color: rgb(247, 178, 205);
    background-image: url("https://github.com/user-attachments/assets/e80ace45-299f-4f09-8a2f-3b025719062c");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color:rgb(210, 32, 139);
    display: flex;
    justify-content: center;
}
