
body {
    background-color: rgb(247, 178, 205);
    background-image: url("https://github.com/user-attachments/assets/76e00e52-1e18-4d70-8d37-271bf8de904d");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color:rgb(210, 32, 139);
    display: flex;
    justify-content: center;
}
