
body {
    background-color: rgb(247, 178, 205);
    background-image: url("https://github.com/user-attachments/assets/8a0f47dc-5b78-49c6-b550-0098419b032d");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color:rgb(210, 32, 139);
    display: flex;
    justify-content: center;
}
