
<p> Regles positionnement d'un element sur la page </p>
position: static; /* par défaut */
position: relative; /* par rapport à sa position normale */
position: absolute; /* par rapport à son conteneur */
position: fixed; /* fixé à l'écran */
position: sticky; /* se fixe lors du défilement */

<p> Regles float, faire flotter un element sur la page </p>
float: left; /* flotte à gauche */
float: right; /* flotte à droite */
float: none; /* par défaut */

